@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.why-choose {
	@include section-bg('page2.png');

	& {
		max-height: 685px;
	}

	&__content {
		max-width: $container-desktop;
		margin: 0 auto;
		height: 100vh;
		display: flex;
		padding: space('lg') 0;
	}

	&__info,
	&__media {
		flex: 1;
		width: 100%;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-right: space('lg');
	}

	&__title {
		font-size: fonts('display');
		color: $color-neutral;
		font-family: $font-heading;
		margin-bottom: space('sm');
	}

	&__description {
		font-size: fonts('body');
		letter-spacing: 1.6px;
		line-height: 1.625;
		margin-bottom: space('sm');
	}

	&__btn {
		@include button;
		max-width: 228px;
		height: 63px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		font-family: $font-heading;
	}

	&__media {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: clamp(2rem, 3.5vw, 3.125rem);
		gap: clamp(0.5rem, 1vw, 1.25rem);
	}

	&__img {
		display: block;
		max-width: 350px;
		max-height: 220px;
	}

	.one {
		align-self: flex-start;
	}

	.two {
		align-self: flex-end;
	}
}
