@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

@use '../base/topology' as *;

.how-it-works {
	background-color: $color-page-bg;
	min-height: 340px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&__icons {
		position: absolute;
		display: block;
	}
}
