@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.footer {
	background-color: $color-footer-bg;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	text-transform: capitalize;
	padding: 3rem 0;

	& p,
	&__nav {
		margin: 0;
	}

	&__logo {
		font-size: fonts('title');
		line-height: 1.6;
		letter-spacing: 3.36px;
		text-transform: uppercase;
		font-weight: 700;
	}

	&__tagline {
		font-size: fonts('body');
		letter-spacing: 1.6px;
		line-height: 1.6;
		padding-bottom: space('xs');
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: 0;
		max-width: 166px;
	}

	&__link {
		color: $color-text-main;
		text-decoration: none;
		transition: color 0.3s ease, transform 0.3s ease;
		display: inline-block;

		&:hover {
			color: $color-main;
			transform: translateY(-2px);
		}

		&:active {
			transform: translateY(0);
		}

		&--social {
			font-size: fonts('lead');

			&:hover {
				color: $color-main;
				transform: scale(1.2);
			}
		}
	}
}
