// Color
$color-text-main: #e8e8e8;
$color-page-bg: #333;
$color-footer-bg: #232323;
$color-main: #5474fd;
$color-neutral: #fff;

// container width
$container-desktop: 1173px;

// font family
$font-main: 'Josefin Sans', sans-serif;
$font-heading: 'Aleo', serif;
